h1 {
    text-align: center;
    font-style: italic;
    color: white;
}

p.izquierda {
    float: left;
}

h3.llevant {
    font-style: italic;
    color: white;
   text-align: right;
}


h3.enlace {
    text-align: center;
    color: black;
}

h2 {
    text-align: left;

}

h3 {
    text-align: right;
}

pre.derechados {
    text-align: right;
}

p.arriba {
    text-align: left;
    top: 10px;
}

body {
    background-image: url("img/estadio.jpeg");
}

h3.patrocinadores{
    color: white;
}